{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>AsieSushis</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Bon retour parmi nous {{ app.user.name }} !</p>
    {% endif %}
    <div class="center"><a href="#" class="btn">Commander !</a></div>
    <article>
        <h2>Qui sommes nous ?</h2>
        <p>Nous sommes une société indépendante de vente de sushis sur Nancy!</p>
    </article>
    <article>
        <h2>Comment ça fonctionne ?</h2>
        <div>
            <p>Si vous souhaitez vous faire livrer des sushis de qualité et que vous vous situez à moins de 10km de Nancy Centre!</p>
            <p>Alors vous pouvez commander vos sushis sur notre site internet ! La livraison est gratuite !</p>
            <p>Sinon vous pouvez directement venir les cherchés et manger sur place¹ !</p>
        </div>
        <p>Une petite <a href="#" class="btn btn-text">visite</a> en 3D de l'une de nos boutiques !</p>
    </article>
{% endblock %}

{% block footer %}
    <p>¹ : la taxe de vente de repas sur place est de 20% comparer à 10% en livraison ou à emporter !</p>
{% endblock %}
