{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <h1>Menu de gestion des utilisateurs et produits</h1>

    <div class="center">
        <a class="btn" href="{{ path('app_admin_orders') }}">Commandes en cours !</a>
        <a class="btn" href="{{ path('app_admin_products') }}">Gérer les produits</a>
        <a class="btn" href="{{ path('app_admin_users') }}">Gérer les utilisateurs</a>
    </div>

{% endblock %}