{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <div class="center">
        <a href="#" class="btn">Ajout de produits</a>
    </div>
    <div class="center">
        <a href="#" class="btn">Gestion des utilisateurs</a>
    </div>
{% endblock %}
