{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="../js/libraries/three.min.js"></script>
    <script type="module" src="../js/main.js"></script>
{% endblock %}

{% block body %}

    <h1>Sélectionnez vos sushis et disposez les comme vous le souhaitez dans la boîte !</h1>
    <div id="ThreeJS">

    </div>
    <ul id="food-list">
        <li><p class="btn" data-type="1">Maki Saumon Avocat</p></li>
        <li><p class="btn" data-type="2">Nagiri Saumon</p></li>
{#        <li><p class="btn">Maki</p></li>#}
    </ul>


{% endblock %}
